<div class = "padding-to-left padding-to-bottom"> 
    <div class="card-body">
        <h5 class="card-title">{{markten[0].plaats}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">U kunt ook ons vinden </h6>
        <p class="card-text">{{markten[0].description}}</p>
    </div>

    <div class="card-body">
        <h5 class="card-title">{{markten[1].plaats}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">U kunt ook ons vinden</h6>
        <p class="card-text">{{markten[1].description}}</p>
    </div>

    <div class="card-body">
        <h5 class="card-title">{{markten[2].plaats}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">U kunt ook ons vinden</h6>
        <p class="card-text">{{markten[2].description}}</p>
    </div>
</div>
