<!-- form goes here -->
<form (ngSubmit)="processForm()">

  <!-- name -->
  <div class="field">
    <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name" requierd minlength="3" #nameInput ="ngModel">
  </div>

  <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
    Name is required and needs to be at least 3 characters long.
  </div>

  <!-- email -->
  <div class="field">
    <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email" required email #emialInput = "ngModel">
  </div>

  <div class="help is-error" *ngIf="emialInput.invalid && emialInput.dirty">
    Name is required and needs to be at least 3 characters long.
  </div>

  <!-- message -->
  <div class="field">
    <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message" required #messageInput = "ngModel" ></textarea>
  </div>

  <div class="help is-error" *ngIf="messageInput.invalid && messageInput.dirty">
    Name is required and needs to be at least 3 characters long.
  </div>

  <button type="submit" class="button is-danger is-large">Submit</button>

</form >