 <div class="col-sm-4 padding-item">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{menuItem.imageUrl}}" width="100px" height="200px" alt="Card image cap"/>
            <div class="card-body">
                <table>
                    <tr>
                        <td> <h5 class="card-title"> {{menuItem.name}} </h5></td>
                    </tr>
                    <tr>
                        <td> <h5 class="card-title">&euro;{{menuItem.price}} </h5></td>
                    </tr>
                </table>
                <p class="card-text">{{menuItem.description}}</p>
            </div>
        </div>
 </div>
   
